* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    color: white;
}

#location-suggestion {
    list-style: none;
    margin: 0;
    padding: 0;
}

#current-info {
    border-radius: 25px;
    border: 5px solid darkblue;
}
    

#forecast-info {
    background-color: rgb(94, 94, 165);
    border-radius: 25px;
    border: 5px solid darkblue;
}

#forecast-info h2 {
    color: white;
}